<launch>
  <arg name="audio_topic" />
  <arg name="image_topic" />
  <arg name="file_location" />
  <arg name="do_timestamp" />
  <arg name="audio_format" />
  <arg name="channels" />
  <arg name="bitrate" />
  <arg name="sample_rate" />
  <arg name="sample_format" />

  <node name="audio_video_recorder" pkg="audio_video_recorder"
        type="audio_video_recorder" output="screen">
    <remap from="~input/audio" to="$(arg audio_topic)" />
    <remap from="~input/image" to="$(arg image_topic)" />
    <rosparam subst_value="true">
      file_location: $(arg file_location) 
      do_timestamp: $(arg do_timestamp)
      audio_format: $(arg audio_format)
      channels: $(arg channels)
      bitrate: $(arg bitrate)
      sample_rate: $(arg sample_rate)
      sample_format: $(arg sample_format)
    </rosparam>
  </node>
        
</launch>
